* {
    outline: none;
    font-family: Raleway,sans-serif;
    color: #636b6f;
}

body {
  background: #ececec;
}

.header__title {
    color: #fff;
}

.main {
  padding-left: 16px;
  padding-right: 16px;
}

.login-container {
    max-width: 370px;
    width: 100%;
    margin: 90px auto 0px;
    box-shadow: 2px 2px 2px #ccc;
    padding: 20px;
    background-color: #fff;
}

.login-container h2 {
    margin: 0px;
}

.login-form {
    margin-top: 20px;
}

.form-control {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    /*border-radius: 4px;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.form-control, output {
    display: block;
    font-size: 14px;
    line-height: 1.6;
    color: #555;
}

.login-form label {
    margin-bottom: 15px;
    display: block;
}

.login-form label span {
    margin-bottom: 3px;
    display: block;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.6;
    /*border-radius: 4px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.login-form .btn {
    background-color: #4285F4;
    color: #fff;
    width: 100%;
  transition: .3s;
}

.login-form .btn:hover {
  background-color: #325ca2;
}